{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block meta %}
<title>Beerbox | About Beerbox</title>
<meta name="description" content="BeerBox is the first IoT vending device that cools, accepts payment, and opens a can of beer at entertainment-led and outdoor occasions.">
{% endblock %}
{% block content %}

<!-- ********** GREEN - SECTION ********** -->
<div id="g">
	<div class="container">
		<div class="row mt">
			<div class="col-sm-12 text-center mt mb">
				<h1 style="font-weight:700">More About Us</h1>
			</div>
		</div><!--/row -->
	</div><!--/container -->
</div><!--/G -->

<!-- ********** SIDE IMAGE - SECTION ********** -->
<section id="about"></section>
<section class="side-image text-heavy clearfix">
	<div class="image-container col-md-5 col-sm-3 pull-left">
		<div title="Beerbox NYC" style="width:100%; height:150%; background-image: url('{% static 'blog/assets/img/beerbox4.jpg' %}'); background-size:cover; background-position:center"></div>
	</div><!--/img-container-->
			
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix">
				<h1 style="font-weight:500">More About Us</h1>
				<p class="lead">BeerBox is the first IoT vending device that cools, accepts payment, and opens a can of beer at entertainment-led and outdoor occasions. Long lines at beer concessions are unfortunately an expected occurrence for attendees at music festivals, concerts, and sporting events. BeerBox adds more distribution points within a venue to reduce long lines, create a new sales channel for beer, and increases incremental sales. </p>
			</div><!--col-md-6 col-sm-8 -->
		</div><!-- /row -->
	</div><!--/container -->
</section><!--Side Image Section -->

{% endblock %}