<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'blog/assets/img/favicon.ico">

    {%block meta %}{% endblock %}
    <meta name="keywords" content="beerbox, beerbox vending machine, beer vending maching, beer maching, beerbox maching, vending beer">
    <meta name="author" content="Beerbox">
    <meta property="og:title" content="Beerbox | Beer vending machines"/>
    <meta property="og:image" content="{% static 'blog/assets/img/beerbox-home.png' %}"/>
    <meta property="og:image:alt" content="Beerbox"/>
    <meta property="og:url" content="http://gobeerbox.com"/>
    <meta property="og:description" content="Beerbox is a super cool vending machine that dispenses cold beer cans at music festivals, concerts, and sporting events."/>
    <!--<meta name="fb:app_id" content="504038879644712">-->

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://gobeerbox.com">
    <meta name="twitter:title" content="Beerbox">
    <meta name="twitter:description" content="Beerbox is a super cool vending machine that dispenses cold beer cans at music festivals, concerts, and sporting events.">
    <meta name="twitter:image" content="{% static 'blog/assets/img/beerbox-home.png' %}">

    <meta name="google-site-verification" content="OPhjCxdWwAFkwleahh4oZhyWLk7BDNhY2AlyJTjDk88" />


    <!-- Bootstrap core CSS -->
    <link href="{% static 'blog/assets/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="{% static 'blog/assets/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/css/style.css' %}" rel="stylesheet">


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'blog/assets/js/ie10-viewport-bug-workaround.js' %}"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'blog/assets/img/favicon/apple-icon-57x57.png' %}">
  	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'blog/assets/img/favicon/apple-icon-60x60.png' %}">
  	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'blog/assets/img/favicon/apple-icon-72x72.png' %}">
  	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'blog/assets/img/favicon/apple-icon-76x76.png' %}">
  	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'blog/assets/img/favicon/apple-icon-114x114.png' %}">
  	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'blog/assets/img/favicon/apple-icon-120x120.png' %}">
  	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'blog/assets/img/favicon/apple-icon-144x144.png' %}">
  	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'blog/assets/img/favicon/apple-icon-152x152.png' %}">
  	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'blog/assets/img/favicon/apple-icon-180x180.png' %}">
  	<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'blog/assets/img/favicon/android-icon-192x192.png' %}">
  	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'blog/assets/img/favicon/favicon-32x32.png' %}">
  	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'blog/assets/img/favicon/favicon-96x96.png' %}">
  	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/assets/img/favicon/favicon-16x16.png' %}">
  	<link rel="manifest" href="{% static 'blog/assets/img/favicon/manifest.json' %}">
  	<meta name="msapplication-TileColor" content="#ffffff">
  	<meta name="msapplication-TileImage" content="{% static 'blog/assets/img/favicon/ms-icon-144x144.png' %}">
  	<meta name="theme-color" content="#ffffff">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'blog:index' %}"><img src="{% static 'blog/assets/img/logo.png' %}" style="width:80px; margin-top:-20px" alt="Beerbox Logo"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'blog:index' %}">Home</a></li>
            <li><a href="{% url 'blog:about' %}">About</a></li>
            <li><a href="{% url 'blog:faq' %}">FAQs</a></li>
            <li><a href="{% url 'blog:contact' %}">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {% block content %}
    {% endblock %}
      <!-- ********** FOOTER ********** -->
  <div id="f">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 centered">
          <h5><a href="" style="color:white">HELLO@GOBEERBOX.COM</a></h5>
          
          <a href="{% url 'blog:terms' %}" style="color:white">Terms & Conditions</a> | <a href="{% url 'blog:privacy' %}" style="color:white">Privacy Policy</a>
          <p>
            <a target="_blank" href="https://twitter.com/gobeerbox"><i class="ion-social-twitter"></i></a>
            <a target="_blank" href="https://www.instagram.com/gobeerbox/"><i class="ion-social-instagram"></i></a>
            <a target="_blank" href="https://www.facebook.com/gobeerbox"><i class="ion-social-facebook"></i></a>
          </p>
          Copyright © ZX Ventures
        </div>
      </div>
    </div>
  </div><!--/F -->
  
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'blog/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/assets/js/retina-1.1.0.js' %}"></script>
  </body>
</html>