{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block meta %}
<title>Beerbox | Contact Us</title>
<meta name="description" content="">
{% endblock %}
{% block content %}

<!-- ********** GREEN - SECTION ********** -->
<div id="g">
	<div class="container">
		<div class="row mt">
			<div class="col-sm-12 text-center mt mb">
				<h1>Contact Us</h1>
			</div>
		</div><!--/row -->
	</div><!--/container -->
</div><!--/G -->

<!-- ********** SIDE IMAGE - SECTION ********** -->
<section id="about"></section>
<section class="side-image text-heavy clearfix">
	<div class="image-container col-md-5 col-sm-3 pull-left">
		<div class="background-image-holder">
			<img class="background-image" alt="Background Image" src="{% static 'blog/assets/img/newyork.jpg' %}">
		</div><!--/background-img-holder-->
	</div><!--/img-container-->
			
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix">
				<h1>Contact us at Beerbox</h1>
				<p class="lead">Have a comment or question? Feel free to reach out and we’ll get back to you as soon as possible.</p>
				<a href="mailto:hello@gobeerbox.com" class="btn btn-conf btn-green">hello@gobeerbox.com</a><br>
				<div class="col-sm-6 no-pad-left feature">
					<h5>we're located at:</h5>
					<p>125 West 24th St<br>7th Fl<br>New York, NY 10011<br>(646) 883-5922</p>
				</div>
				<div class="col-sm-6 no-pad-left feature">
					<h5>Social accounts:</h5>
					<p>
					<i class="fa fa-facebook-square"></i> Beerbox<br>
					<i class="fa fa-instagram"></i> Beerbox<br>
					<i class="fa fa-twitter-square"></i> @gobeerbox</p>
				</div>
			</div><!--col-md-6 col-sm-8 -->
		</div><!-- /row -->
	</div><!--/container -->
</section><!--Side Image Section -->

{% endblock %}