{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block meta %}

<title>Beerbox | FAQs</title>
<meta name="description" content="">

{% endblock %}
{% block content %}

<!-- ********** GREEN - SECTION ********** -->
<div id="g">
	<div class="container">
		<div class="row mt">
			<div class="col-sm-12 text-center mt mb">
				<h1>Beerbox FAQs</h1>
			</div>
		</div><!--/row -->
	</div><!--/container -->
</div><!--/G -->

<!-- ********** WHITE SECTION - CTA ********** -->
<section id="contact"></section>
<div class="container">
	<div class="row mtb2">
		<div class="col-md-8 col-md-offset-2">
			<h4><b>What does BeerBox sell?</b></h4>
			<p>BeerBox sells cans of beer silly. Be on the lookout for additional adult beverages in the future.</p>
			<br>
			<h4><b>How many cans does each BeerBox hold?</b></h4>
			<p>Each BeerBox holds 150 25oz cans. Its unique design allows two BeerBoxes to be connected to form a bar, which holds 300 25oz cans.</p>
			<br>
			<h4><b>Why does BeerBox open the can?</b></h4>
			<p>Venues have open container policies, so fans don’t throw a closed beer can as a projectile. We work some magic to open your can for you, which means more time to Snapchat your Bae.</p>
			<br>
			<h4><b>What type of payment methods does BeerBox accept?</b></h4>
			<p>BeerBox accepts all major US credit cards (Mastercard, Visa, AMEX, & Discover) and NFC payments, such as Apple Pay and Google Wallet. As much as we love our Benjamins, BeerBox doesn’t accept cash.</p>
			<br>
			<h4><b>How cold is my beer?</b></h4>
			<p>Our goal is to provide you with a cold beer at 35℉, because that’s what you deserve. You look thirsty, you should get yourself a beer right now.</p>  
			<br>
			<h4><b>How do you verify someone’s age?</b></h4>
			<p>Concession workers will be located near the machines to make sure you're of age to purchase beer.</p> 
			<br>
			<h4><b>What weather can the machine withstand?</b></h4>
			<p>BeerBox is engineered to withstand mother nature. It drinks rain for breakfast.</p>
			<br>
			<h4><b>Where can I find a BeerBox?</b></h4>
			<p>Check out the <link>Where’s BeerBox?<link> section to see if a BeerBox is close to you.</p>
			<br>
			<h4><b>How do I get a BeerBox?</b></h4>
			<p>Ask Santa Claus. Alright, if you really want one please <link>Contact Us<link> for more information.</p>
		</div>
	</div><!--/row -->
</div><!--/container -->
	
{% endblock %}
