{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block meta %}
<title>Beerbox | Beer vending machines</title>
<meta name="description" content="Beerbox is a super cool vending machine that dispenses cold beer cans at music festivals, concerts, and sporting events.">
{% endblock %}
{% block content %}
<!-- ********** HEADER ********** -->
<section id="home"></section>
<div id="h">
    <div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 style="font-weight:700">STAY IN THE MOMENT, NOT THE LINE</h1>
				<button class="btn btn-conf btn-green" style="font-size:14px">What's Beerbox?</button>
				<!--<button class="btn btn-conf btn-clear">What's Beerbox?</button>-->
			</div>
		</div>
    </div><!-- /.container -->
</div><!--/H -->

<!-- ********** WHITE SECTION - IMAGE PHONE ********** -->
<div class="container">
	<div class="row mtb">
		<div class="col-md-5">
			<h1 class="mb mt" style="font-weight:500">Hate Lines and Love Beer? Us too.</h1>
			<p>That’s why we created BeerBox, which is a super cool vending machine that dispenses cold beer cans at music festivals, concerts, and sporting events. It’s easy to use and fast!</p>
			<p class="lead" style="color:#F2623C"><b>Cheers to no more lines.</b></p>
			<br>
			<!--<h4><b>Benefits</b></h4>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<ul>
						<li><p>It works like magic and elevates the beer can out of the machine. It even opens the can for you, too!</p>
						</li>
						<li><p>Just swipe your credit card or tap your phone with Apple Pay to get your beer. The days of having your crumpled dollar rejected are over.</p>
						</li>
						<li><p>It’s the first time you’ll ever want to take a selfie with a vending machine. We guarantee a 543% increase in your Instagram likes.</p>
						</li>
					</ul>	
				</div>
			</div>-->
			<!--<p class="mt"><button class="btn btn-conf btn-green">Buy Theme</button></p>-->
		</div>
		

		<div class="col-md-7 text-center mb">
			<br>
			<br>
			<iframe class="video" src="https://www.youtube.com/embed/sbCOUF1WA8I" frameborder="0" allowfullscreen></iframe>
			<!--<img class="img-responsive aligncenter" alt=
			"Beerbox" src="{% static 'blog/assets/img/beerbox.jpg' %}" width="520">-->
		</div>
	</div><!--/row -->
</div><!--/container-->

<!-- ********** GREEN - SECTION ********** -->
<div id="g">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<i class="fa fa-magic"></i>
				<h4>Fast</h4>
				<p>It works like magic and elevates the beer can out of the machine. It even opens the can for you, too!</p>
			</div>
			<div class="col-md-4">
				<i class="fa fa-credit-card"></i>
				<h4>Easy</h4>
				<p>Just swipe your credit card or tap your phone with Apple Pay to get your beer. The days of having your crumpled dollar rejected are over.</p>
			</div>
			<div class="col-md-4">
				<i class="fa fa-heart"></i>
				<h4>Amazing</h4>
				<p>It’s the first time you’ll ever want to take a selfie with a vending machine. We guarantee a 543% increase in your Instagram likes.</p>
			</div>
		</div><!--/row -->
	</div><!--/container -->
</div><!--/G -->

<!-- ********** PHONE & FEATURES ********** -->
<div class="container">
	<div class="row mtb">
		<h2 class="centered" style="font-weight:700">FEATURES</h2>
		<hr class="aligncenter mb">
		
		<div class="col-md-4">
			<div class="features f-r">
				<h3 style="font-weight:500">Capacity</h3>
				<p>300 25oz cans (150 cans/system)</p>
			</div>
			<div class="features f-r">
				<h3 style="font-weight:500">Payment</h3>
				<p>Accepts all major US credit cards and NFC (i.e. Apple Pay)</p>
			</div>
			<div class="features f-r">
				<h3 style="font-weight:500">Cooling</h3>
				<p>Cools cans to 35F</p>
			</div>
		</div><!--/col-md-4-->
		<div class="col-md-4">
			<img class="img-responsive aligncenter" alt="
			Beerbox" src="{% static 'blog/assets/img/beerbox.jpg' %}" style="width:100%">
		</div><!--col-md-4-->
		<div class="col-md-4">
			<div class="features f-l">
				<h3 style="font-weight:500">Time</h3>
				<p>Less than 45 seconds from payment to beer in hand</p>
			</div>
			<div class="features f-l">
				<h3 style="font-weight:500">Brand Activation</h3>
				<p>Branded panels and LED lighting</p>
			</div>
			<div class="features f-l">
				<h3 style="font-weight:500">Tech</h3>
				<p>It opens your can for you!</p>
			</div>
		</div><!--/col-md-4-->
		
	</div><!--/row -->
</div><!--/container -->

<!--<div id="mint" class="carousel slide" data-ride="carousel">
	<div class="col-md-6 col-md-offset-3">
	      <ol class="carousel-indicators">
	        <li data-target="#mint" data-slide-to="0" class="active"></li>
	        <li data-target="#mint" data-slide-to="1"></li>
	        <li data-target="#mint" data-slide-to="2"></li>
	      </ol>
	      <div class="carousel-inner">
	        <div class="item active">
	        	<div class="centered mtb">
	            	<img src="{% static 'blog/assets/img/pic01.jpg' %}" class="img-circle" height="100" width="100" alt="First slide">
			        <h4>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</h4>
			        <p>SHARON SMITH</p>
				</div>
			</div>
			
	        <div class="item">
	        	<div class="centered mtb">
	            	<img src="{% static 'blog/assets/img/pic02.jpg' %}" class="img-circle" height="100" width="100" alt="First slide">
			        <h4>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</h4>
			        <p>SAM MANNING</p>
				</div>
			</div>

	        <div class="item">
	        	<div class="centered mtb">
	            	<img src="{% static 'blog/assets/img/pic03.jpg' %}" class="img-circle" height="100" width="100" alt="First slide">
			        <h4>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</h4>
			        <p>PAUL STEVENSON</p>
				</div>
			</div>
    	
		</div>
	</div>
</div>-->

<!-- ********** WHITE SECTION - CTA ********** -->
<!--<section id="contact"></section>
<div class="container">
	<div class="row mtb2 centered">
		<div class="col-md-8 col-md-offset-2 centered">
			<h6>BEERBOX IS AWESOME</h6>
			<h2 class="bold mb">Where is Beerbox?</h2>
		</div>
		<div class="col-sm-4">
			<h3>7-ELEVEN</h3>
			<p>1412 1st Avenue<br>New York, NY 10021</p>
		</div>
		<div class="col-sm-4">
			<h3>A&M</h3>
			<p>92 Malcolm X Blvd<br>Brooklyn, NY 11211</p>
		</div>
		<div class="col-sm-4">
			<h3>ASSOCIATED SUPER</h3>
			<p>1412 1st Avenue<br>New York, NY 10021</p>
		</div>
		<div class="col-sm-4">
			<h3>7-ELEVEN</h3>
			<p>1412 1st Avenue<br>New York, NY 10021</p>
		</div>
		<div class="col-sm-4">
			<h3>A&M</h3>
			<p>92 Malcolm X Blvd<br>Brooklyn, NY 11211</p>
		</div>
		<div class="col-sm-4">
			<h3>ASSOCIATED SUPER</h3>
			<p>1412 1st Avenue<br>New York, NY 10021</p>
		</div>
	</div>
	<div class="row mb text-center">
		<div class="col-sm-12">
			<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d12091.802956596368!2d-73.9888796!3d40.74110945!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1502300715296" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>-->
<div class="jumbotron" style="background-color:#F2623C">
	<div class="row">
		<div class="col-sm-12 text-center" style="color:white">
			<h2 style="font-weight:700">PEOPLE LOVE BEERBOX!</h2>
		</div>
	</div>
</div>

<!-- ********** GREY SECTION - BLOG ********** -->	
<div>
	<div class="container">
		<!--<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="centered mb" style="font-weight:700; margin-top:-10px">CHECK US OUT!</h2>
				<hr class="aligncenter mb" style="border-top:1px solid #5a5a5a">
			</div>
		</div>-->
		<div class="row text-center mb mt">
			<div class="col-sm-6">
				<iframe class="video" src="https://www.youtube.com/embed/iofI9w0zl-I" frameborder="0" allowfullscreen></iframe>
			</div><br>
			<div class="col-sm-6">
				<iframe class="video" src="https://www.youtube.com/embed/dOaAQonltaE" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="row w">
			<div class="col-md-4">
				<img src="{% static 'blog/assets/img/beerbox1.jpg' %}" class="img-responsive aligncenter imagess" style="border:1px solid #aaa;" alt=""><br>
				<!--<div class="date">
					<h4><bold>13</bold></h4>
					<h4>Sep</h4>
				</div>
				<h5>The Food You Need</h5>
				<p class="desc">Posted by Frank Smith in <b>Tips</b></p>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				<p><a href="#">Continue Reading...</a></p>-->
			</div>
			<div class="col-md-4">
				<img src="{% static 'blog/assets/img/beerbox2.jpg' %}" class="img-responsive aligncenter imagess" style="border:1px solid #aaa;" alt=""><br>
				<!--<div class="date">
					<h4><bold>28</bold></h4>
					<h4>Aug</h4>
				</div>
				<h5>Thinking About Life</h5>
				<p class="desc">Posted by Frank Smith in <b>Thougts</b></p>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				<p><a href="#">Continue Reading...</a></p>-->
			</div>
			<div class="col-md-4">
				<img src="{% static 'blog/assets/img/beerbox3.jpg' %}" class="img-responsive aligncenter imagess" style="border:1px solid #aaa;" alt=""><br>
				<!--<div class="date">
					<h4><bold>13</bold></h4>
					<h4>Jul</h4>
				</div>
				<h5>Visiting The Mountains</h5>
				<p class="desc">Posted by Frank Smith in <b>Travel</b></p>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				<p><a href="#">Continue Reading...</a></p>-->
			</div>
		</div>
	</div>
</div>

<!--<div class="jumbotron" style="background-color:#F2623C">
	<div class="row">
		<div class="col-sm-12 text-center" style="color:white">
			<h2>CHEERS TO NO MORE LINES!</h2>
		</div>
	</div>
</div>-->

<!-- ********** WHITE SECTION - CTA ********** -->
<section id="contact" class="mb"></section>
<div class="container mb">

</div><!--/container -->
{% endblock %}
