{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block meta %}
<title>Beerbox | Beer vending machines</title>
<meta name="description" content="">
{% endblock %}
{% block content %}
<!-- ********** HEADER ********** -->
<section id="home"></section>
<div id="h">
    <div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Stay in the moment, not the line</h1>
				<button class="btn btn-conf btn-green">What's Beerbox?</button>
				<!--<button class="btn btn-conf btn-clear">What's Beerbox?</button>-->
			</div>
		</div>
    </div><!-- /.container -->
</div><!--/H -->

<!-- ********** WHITE SECTION - IMAGE PHONE ********** -->
<div class="container">
	<div class="row mtb">
		<div class="col-md-5">
			<h1 class="mb mt">Hate lines and love beer? Us too.</h1>
			<p>That’s why we created BeerBox, which is a super cool vending machine that dispenses cold beer cans at music festivals, concerts, and sporting events. It’s easy to use and fast!</p>
			<p class="lead" style="color:#F2623C"><b>Cheers to no more lines.</b></p>
			<br>
			<!--<h4><b>Benefits</b></h4>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<ul>
						<li><p>It works like magic and elevates the beer can out of the machine. It even opens the can for you, too!</p>
						</li>
						<li><p>Just swipe your credit card or tap your phone with Apple Pay to get your beer. The days of having your crumpled dollar rejected are over.</p>
						</li>
						<li><p>It’s the first time you’ll ever want to take a selfie with a vending machine. We guarantee a 543% increase in your Instagram likes.</p>
						</li>
					</ul>	
				</div>
			</div>-->
			<!--<p class="mt"><button class="btn btn-conf btn-green">Buy Theme</button></p>-->
		</div>
		
		<div class="col-md-7">
			<img class="img-responsive aligncenter" src="{% static 'blog/assets/img/beerbox.jpg' %}" width="520">
		</div>
	</div><!--/row -->
</div><!--/container-->

<!-- ********** GREEN - SECTION ********** -->
<div id="g">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<i class="fa fa-magic"></i>
				<h4>Fast</h4>
				<p>It works like magic and elevates the beer can out of the machine. It even opens the can for you, too!</p>
			</div>
			<div class="col-md-4">
				<i class="fa fa-credit-card"></i>
				<h4>Easy</h4>
				<p>Just swipe your credit card or tap your phone with Apple Pay to get your beer. The days of having your crumpled dollar rejected are over.</p>
			</div>
			<div class="col-md-4">
				<i class="fa fa-heart"></i>
				<h4>Amazing</h4>
				<p>It’s the first time you’ll ever want to take a selfie with a vending machine. We guarantee a 543% increase in your Instagram likes.</p>
			</div>
		</div><!--/row -->
	</div><!--/container -->
</div><!--/G -->

<!-- ********** PHONE & FEATURES ********** -->
<div class="container">
	<div class="row mtb2">
		<h1 class="centered">Beerbox Features</h1>
		<hr class="aligncenter mb">
		
		<div class="col-md-4">
			<div class="features f-r">
				<h3>Capacity</h3>
				<p>300 25oz cans (150 cans/system)</p>
			</div>
			<div class="features f-r">
				<h3>Payment</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>
			<div class="features f-r">
				<h3>Cooling</h3>
				<p>Cools cans to 35F (Cans need to be pre-chilled)</p>
			</div>
		</div><!--/col-md-4-->
		<div class="col-md-4 hidden-xs">
			<img class="img-responsive aligncenter" src="{% static 'blog/assets/img/beerbox.jpg' %}" style="width:100%">
		</div><!--col-md-4-->
		<div class="col-md-4">
			<div class="features f-l">
				<h3>Time</h3>
				<p>&lt;45 seconds from payment to beer in hand</p>
			</div>
			<div class="features f-l">
				<h3>Brand Activation</h3>
				<p>4 side panels, 2 masts, LED lighting (mast & table)</p>
			</div>
			<div class="features f-l">
				<h3>Tech</h3>
				<p>Network: LTE & Ethernet<br>Can Opening & Can Orientatio</p>
			</div>
		</div><!--/col-md-4-->
		
	</div><!--/row -->
</div><!--/container -->

<!--<div id="mint" class="carousel slide" data-ride="carousel">
	<div class="col-md-6 col-md-offset-3">
	      <ol class="carousel-indicators">
	        <li data-target="#mint" data-slide-to="0" class="active"></li>
	        <li data-target="#mint" data-slide-to="1"></li>
	        <li data-target="#mint" data-slide-to="2"></li>
	      </ol>
	      <div class="carousel-inner">
	        <div class="item active">
	        	<div class="centered mtb">
	            	<img src="{% static 'blog/assets/img/pic01.jpg' %}" class="img-circle" height="100" width="100" alt="First slide">
			        <h4>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</h4>
			        <p>SHARON SMITH</p>
				</div>
			</div>
			
	        <div class="item">
	        	<div class="centered mtb">
	            	<img src="{% static 'blog/assets/img/pic02.jpg' %}" class="img-circle" height="100" width="100" alt="First slide">
			        <h4>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</h4>
			        <p>SAM MANNING</p>
				</div>
			</div>

	        <div class="item">
	        	<div class="centered mtb">
	            	<img src="{% static 'blog/assets/img/pic03.jpg' %}" class="img-circle" height="100" width="100" alt="First slide">
			        <h4>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</h4>
			        <p>PAUL STEVENSON</p>
				</div>
			</div>
    	
		</div>
	</div>
</div>-->

<div class="jumbotron" style="background-color:#F2623C">
	<div class="row">
		<div class="col-sm-12 text-center" style="color:white">
			<h2>Stay in the moment, not the line</h2>
		</div>
	</div>
</div>

<!-- ********** WHITE SECTION - CTA ********** -->
<!--<section id="contact"></section>
<div class="container">
	<div class="row mtb2 centered">
		<div class="col-md-8 col-md-offset-2 centered">
			<h6>BEERBOX IS AWESOME</h6>
			<h2 class="bold mb">Where is Beerbox?</h2>
		</div>
		<div class="col-sm-4">
			<h3>7-ELEVEN</h3>
			<p>1412 1st Avenue<br>New York, NY 10021</p>
		</div>
		<div class="col-sm-4">
			<h3>A&M</h3>
			<p>92 Malcolm X Blvd<br>Brooklyn, NY 11211</p>
		</div>
		<div class="col-sm-4">
			<h3>ASSOCIATED SUPER</h3>
			<p>1412 1st Avenue<br>New York, NY 10021</p>
		</div>
		<div class="col-sm-4">
			<h3>7-ELEVEN</h3>
			<p>1412 1st Avenue<br>New York, NY 10021</p>
		</div>
		<div class="col-sm-4">
			<h3>A&M</h3>
			<p>92 Malcolm X Blvd<br>Brooklyn, NY 11211</p>
		</div>
		<div class="col-sm-4">
			<h3>ASSOCIATED SUPER</h3>
			<p>1412 1st Avenue<br>New York, NY 10021</p>
		</div>
	</div>
	<div class="row mb text-center">
		<div class="col-sm-12">
			<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d12091.802956596368!2d-73.9888796!3d40.74110945!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1502300715296" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>-->

<!-- ********** GREY SECTION - BLOG ********** -->	
<!--<div id="grey">
	<div class="container">
		<div class="row w">
			<div class="col-md-4">
				<img src="{% static 'blog/assets/img/blog01.jpg' %}" class="img-responsive aligncenter" alt="">
				<div class="date">
					<h4><bold>13</bold></h4>
					<h4>Sep</h4>
				</div>
				<h5>The Food You Need</h5>
				<p class="desc">Posted by Frank Smith in <b>Tips</b></p>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				<p><a href="#">Continue Reading...</a></p>
			</div>
			<div class="col-md-4">
				<img src="{% static 'blog/assets/img/blog02.jpg' %}" class="img-responsive aligncenter" alt="">
				<div class="date">
					<h4><bold>28</bold></h4>
					<h4>Aug</h4>
				</div>
				<h5>Thinking About Life</h5>
				<p class="desc">Posted by Frank Smith in <b>Thougts</b></p>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				<p><a href="#">Continue Reading...</a></p>
			</div>
			<div class="col-md-4">
				<img src="{% static 'blog/assets/img/blog03.jpg' %}" class="img-responsive aligncenter" alt="">
				<div class="date">
					<h4><bold>13</bold></h4>
					<h4>Jul</h4>
				</div>
				<h5>Visiting The Mountains</h5>
				<p class="desc">Posted by Frank Smith in <b>Travel</b></p>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				<p><a href="#">Continue Reading...</a></p>
			</div>
		</div>
	</div>
</div>-->

<!-- ********** WHITE SECTION - CTA ********** -->
<section id="contact"></section>
<div class="container">
	<div class="row mtb2">
		<div class="col-md-8 col-md-offset-2 centered">
			<h6>BEERBOX IS AWESOME</h6>
			<h2 class="bold mb">Want to get updates about Beerbox? <br>Stay in touch</h2>
			<!-- Begin MailChimp Signup Form -->
			
			<form action="//gobeerbox.us16.list-manage.com/subscribe/post?u=ff5f2b7990d8f10736957968a&amp;id=e9f8a5575c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">
				
			<div class="mc-field-group">
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email@example.com" style="font-family:Gotham">
			</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ff5f2b7990d8f10736957968a_e9f8a5575c" tabindex="-1" value=""></div>
			    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn-green" style="width:245px"></div>
			    </div>
			</form>
			<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
          <!--End mc_embed_signup-->
			<!--End mc_embed_signup-->
		</div>
	</div><!--/row -->
</div><!--/container -->
{% endblock %}
