{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block meta %}

<title>Beerbox | FAQs</title>
<meta name="description" content="">

{% endblock %}
{% block content %}

<!-- ********** GREEN - SECTION ********** -->
<div id="g">
	<div class="container">
		<div class="row mt">
			<div class="col-sm-12 text-center mt mb">
				<h1>Privacy</h1>
			</div>
		</div><!--/row -->
	</div><!--/container -->
</div><!--/G -->

<!-- ********** WHITE SECTION - CTA ********** -->
<section id="contact"></section>
<div class="container">
	<div class="row mtb2">
		<div class="col-md-8 col-md-offset-2 centered">
			<h6>BEERBOX IS AWESOME</h6>
			<h2 class="bold mb">Where is Beerbox?</h2>
		</div>
	</div><!--/row -->
</div><!--/container -->
	
{% endblock %}